DB_HOST=postgres_db
DB_NAME=seismic_data
DB_USER=your_username
DB_PASSWORD=your_password

SNOWFLAKE_ACCOUNT=your_account.your_region
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_ROLE=your_snowflake_role
SNOWFLAKE_DATABASE=your_database_name
SNOWFLAKE_SCHEMA=your_schema_name
SNOWFLAKE_WAREHOUSE=your_warehouse_name
# Private key: paste contents without header/footer lines and without newlines
SNOWFLAKE_PRIVATE_KEY=your_private_key_here
